<!DOCTYPE html>
<html>  
    <head> 
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Log In | scriptr.io</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="shortcut icon" type="image/x-icon" href="https://www.scriptr.io/themes/scriptr/images/favicon.ico">
        <link rel="shortcut icon" href="https://www.scriptr.io/themes/scriptr/images/favicon.ico" type="image/png" />
        <script src="https://code.jquery.com/jquery-1.9.1.min.js" ></script>
        <script src="https://code.jquery.com/ui/1.9.1/jquery-ui.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" ></script>
        <script src="/asset-tracking/view/javascript/login/login.js"> </script>
        <script src="/asset-tracking/view/javascript/login/authorization.js"> </script>
        <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' type ='text/css' />
        <link href='https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css' rel='stylesheet' type ='text/css' />
        <link href='//fonts.googleapis.com/css?family=Roboto:400,500,700,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
        <link rel="stylesheet" href="../css/login.css">
        <script src="/asset-tracking/view/javascript/config.js"> </script>
    </head>
    <body>
        <div class="opacity"></div>
        <div class="wrap">
            <div class="element col-xs-12 col-sm-10 col-md-8">
                <div class="doors-img col-xs-12 col-sm-6 text-center">
                    <img src="//cdn.rawgit.com/scriptrdotio/resources/33a38a55/multitech/images/multi-tech.png" class="hide"/>
                    <img src="//cdn.rawgit.com/scriptrdotio/resources/3bd348a5/multitech/images/multitech-conduit.png" class="pd-40">
                </div>
                <div class="form-wrap col-xs-12 col-sm-6">
                    <form id="loginForm">
                        <h4>Enter your credentials</h4>
                        <div id="errorMessage" class="error alert alert-danger hide"></div>
                        <div class="form-group">
                            <input class="form-control" id="id" name="id" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                        </div>
                        <button id="submitBtn"  class="btn btn-default btn-block text-uppercase" >Login</button>
                        <div id="loadingDiv" class="text-center" style="visibility:hidden"> 
                            <i style="font-weight: 900;" class="fa fa-spinner fa-spin fa-3x fa-fw" title="Loading"></i>
							<span class="sr-only">Loading...</span>
                        </div>
                    </form>
                </div>
            </div>
        </div>       
        <script type="text/javascript">
            $('#loginForm').loginWidget({redirectTarget: login.redirectTarget, expiry: login.expiry, loginApi: login.loginApi, validateTokenApi: login.validateTokenApi});
        </script>
    </body>
</html>
