<div>
    <scriptr-grid columns-definition='[
        {headerName: "Device", field: "id", width: 120},
        {headerName: "Alert Type", field: "alert_type", width: 90},
        {headerName: "Date", field: "creationDate", width: 110},
        {headerName: "Message", field: "alert_info", width: 200}
    ]' 
               api="asset-tracking/api/alerts" 
               msg-tag="alert_grid"   
               enable-delete-row='false'
               row-model-type='virtual'
               pagination="true"    
               enable-add-row='false'
               cell-editable='false'
               enable-client-side-filter='false'
               enable-server-side-filter='true' 
               enable-client-side-sorting='false'
               enable-server-side-sorting='false'
               suppress-filter="true"
               row-model-selection='multiple'
               pagination-page-size='15'  
               transport='https'>
      </scriptr-grid>
</div> 
